@model T_Order

@{
    ViewBag.Title = "订单详情";
}



<div class="panel panel-default">
    <div class="panel-heading">商品信息</div>
    <table class="table">
        <thead>
            <tr>
                <th>产品</th>
                <th>数量</th>
                <th>小计</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetail)
            {
                <tr>
                    <td>@item.Product</td>
                    <td>@item.Count</td>
                    <td>@item.Total</td>
                </tr>
            }
            <tr>
                <td>合计：</td>
                <td></td>
                <td>@(Model.OrderDetail.Any() ? Model.OrderDetail.Sum(m => m.Total) : 0.00m)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">留言</div>
    <div class="panel-body">
        @Model.Description
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">收货地址</div>
    <div class="panel-body">
        @Model.DeliveryAddress
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">发货物流</div>

    @if (Model.Status == OrderStatus.Paid)
    {
        <div class="panel-body">
            未发货
        </div>
    }
    else
    {
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">物流公司</h4>
                <p class="list-group-item-text">@Model.Logistics.Name</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">联系电话</h4>
                <p class="list-group-item-text">@Model.Logistics.Tel</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">联系人</h4>
                <p class="list-group-item-text">@Model.Logistics.Contacter</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">物流单号</h4>
                <p class="list-group-item-text">@Model.TrackingNO</p>
            </a>
        </div>
    }
</div>
