@model UserLoginData
@{
    Layout = null;
    HttpCookie cookie = Request.Cookies[BaseController.CULTURE_COOKIE_NAME];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="baidu-tc-verification" content="7546f108f172a9d65176b627857d404f" />
    <title>@("登录".ToLocal())</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- bootstrap -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <!-- WARNING: Respond.js doesn't work if you view the page via  -->
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Scripts/html5shiv.min.js")"></script>
      <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
    <![endif]-->

    <!-- alertify -->
    <link href="/Content/alertify/alertify.core.css" rel="stylesheet" />
    <link href="/Content/alertify/alertify.bootstrap.css" rel="stylesheet" />

    <style type="text/css">
        * {
            font-family: "微软雅黑";
        }

        html, body {
            width: 100%;
            height: 100%;
        }

        body {
            /*background: url(/Theme/Login/Wap/bg.jpg) repeat;*/
            background-color:#000;
            margin: 0px auto;
            padding: 0px;
        }

        h1, h2, h3, h4, h5, h6 {
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
<body>
   @using (Html.BeginForm("Home"))
    {
        <div style="width: 100%; text-align: center;">
            @*<img id="logo" src="/Theme/Login/Wap/logo01.png" style="width: 230px; text-align: center; margin: 50px auto;" />*@
            @*<div style="color: #fff; font-size: 24px; width: 100%; margin-top: 10px; text-align: center;">@("代理商管理系统".ToLocal())</div>*@
        </div>
        <div style="width: 320px; margin: 0px auto;">
            <div style="background: url(/Theme/Login/wap/bg1.png) repeat; width: 100%; padding: 30px;">
                <div style="padding: 10px 0; width: 100%;">
                    <h2 style="color:#FFF">@("会员管理系统".ToLocal())
                    </h2>
                </div>
                <div style="padding-top: 15px; width: 100%;">
                    <h5 style="color:#FFF"><b>@("用户名".ToLocal())</b></h5>
                    @(Html.TextBoxFor(m => m.UserCode, new { @style = "width:100%; height:40px;margin-top:5px;outline: none; border-radius:4px;" }))
                </div>
                <div style="padding-top: 15px;">
                    <h5 style="color:#FFF"><b>@("登录密码".ToLocal())</b></h5>
                    @(Html.PasswordFor(m => m.Password, new { @style = "width:100%; height:40px;margin-top:5px;outline: none; border-radius:4px;" }))
                </div>
                 <div style="padding-top: 15px;">
                    <h5 style="color:#FFF"><b>@("验证码".ToLocal())</b></h5>
                    @(Html.PasswordFor(m => m.Captcha, new { @style = "width:35%; height:40px;margin-top:5px;outline: none; border-radius:4px;" }))
                     <img id="__captcha" src="/system/Captcha?timestamp=@DateTime.Now.ToFileTime()" style="width:60px; height:35px; float:right;margin-right:5px;margin-top:7px" />
                </div>
                <div style="padding-top: 25px;">
                    <input type="submit" style="background: rgb(54,136,201); border: none; border-radius: 4px; width: 100%; height: 50px; outline: none; margin-bottom: 15px; color: #FFF; font-weight: bold; font-size: 14px;" value=@("登录".ToLocal()) />
                    <input type="button" style="background: rgb(68,69,69); border: none; border-radius: 4px; width: 100%; height: 50px; outline: none; color: #FFF; font-weight: bold; font-size: 14px;" onclick="window.location = '/vip/user/Forget_Email'" value=@("找回密码".ToLocal()) />
                </div>
            </div>
            <div style="width: 100%; text-align: center; padding: 10px 0; color: #FFF;">
                Copyright &copy; 2016 ALL Right Reserved.
            </div>
        </div>
    }
</body>
</html>

<!--引入bootstrap-->
<script type="text/javascript" src="/Scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/Scripts/json2.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="/Scripts/alertify/alertify.min.js"></script>
<script type="text/javascript" src="/Scripts/localization.js"></script>
<script type="text/javascript" src="/Scripts/common.js"></script>
<script type="text/javascript">
    @if (ViewContext.TempData[AlertEntity.ALERT_ENTITY] != null)
    {
        <text>alert('@((ViewContext.TempData[AlertEntity.ALERT_ENTITY] as AlertEntity).Message)')</text>
    }    
</script>
