@model Pager<T_JihuoCode>
@{
    ViewBag.Title = "我的激活码";
}

@Html.Tab(
new ListItem { Text = "我的激活码".ToLocal(), Value = "/vip/user/MyJihuoCodeList", Selected = true },
new ListItem { Text = "购买激活码".ToLocal(), Value = "/vip/user/BuyJihuoCode" },
new ListItem { Text = "激活会员".ToLocal(), Value = "/vip/user/JihuoUser" },
new ListItem { Text = "激活列表".ToLocal(), Value = "/vip/user/JihuoList" },
new ListItem { Text = "转让激活码".ToLocal(), Value = "/vip/user/TransferJihuoCode" },
new ListItem { Text = "转让记录".ToLocal(), Value = "/vip/user/TransferJihuoCodeList" }
)



<div class="panel panel-info">
    <div class="panel-heading">@("我的激活码".ToLocal())</div>
    <div class="panel-body">
        @(Grid.Create<T_JihuoCode>().SetDataSource(Model.Data)
.Column(m => m.Code).Name("激活码").Value(@<span>
    @if (item.UseId.HasValue)
    {
        <span style="color: red;">@(item.Code)</span>
    }
    else
    {
        <span style="color: green;">@(item.Code)</span>
    }
</span>).End()
.Column(m => m.BuyDate).Name("购买日期").Value(@<span>
    @if (item.UseId.HasValue)
    {
        <span style="color: red;">@(item.BuyDate)</span>
    }
    else
    {
        <span style="color: green;">@(item.BuyDate)</span>
    }
</span>).End()
.Column(m => m.UseDate).Name("使用日期").Value(@<span>
    @if (item.UseId.HasValue)
    {
        <span style="color: red;">@(item.UseDate)</span>
    }
    else
    {
        <span style="color: green;">@(item.UseDate)</span>
    }
</span>).End()
.Render())
@Html.Page(Model)
    </div>
</div>
